@{
	Layout = "_Layout";
	ViewData["Title"] = "Add Task Label";
}
@model Domain.Models.Label.LabelImageModel

<div class="flex">
	<div id="myElement" class="flex flex-col adminPanel-background-template w-full">
		<div class="flex py-2 border-b justify-center">
			<div class="flex flex-col w-3/5 p-4">
				<!--postForm-->
				<form method="post">
					<div class="tab-container ">
						<div class="flex flex-col space-y-4">
							<div class="space-y-2">
								<div class="flex">
									<p class="">Label Name:</p>
									<span>*</span>
								</div>
								<input asp-for="Label" name="Label" type="text"
									   class="w-full border border-mainGray4 rounded-2xl p-2">
							</div>
							<button type="submit"
									class="adminPanel-button w-full space-x-2 !p-2 !rounded-2xl">
								<img src="/assets/media/icons/adminPanel-icons/add.svg" width="24"
									 height="24" alt="">
								<p class="">
									Add
								</p>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>